<?xml version="1.0" encoding="UTF-8"?>

<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<!--
    Ignite Spring configuration file to startup Ignite cache.

    This file demonstrates how to configure cache using Spring. Provided cache
    will be created on node startup.

    Use this configuration file when running HTTP REST examples (see 'examples/rest' folder).

    When starting a standalone node, you need to execute the following command:
    {IGNITE_HOME}/bin/ignite.{bat|sh} examples/config/example-cache.xml

    When starting Ignite from Java IDE, pass path to this file to Ignition:
    Ignition.start("examples/config/example-cache.xml");
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd">

    {% if not dynamic_cache_enabled %}
    <import resource="{{caches}}"/>
    {% endif %}
    <import resource="policies.xml"/>

    <bean id="placeholderConfig" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"/>

    {% if authentication_enabled %}
    <bean id="server.creds" class="org.apache.ignite.plugin.security.SecurityCredentials">
        <property name="login" value="server_user"/>
        <property name="password" value="server_password"/>
    </bean>

    <bean id="full_access.creds" class="org.apache.ignite.plugin.security.SecurityCredentials">
        <property name="login" value="admin_user"/>
        <property name="password" value="admin_password"/>
    </bean>

    <bean id="read_only.creds" class="org.apache.ignite.plugin.security.SecurityCredentials">
        <property name="login" value="read_only_user"/>
        <property name="password" value="read_only_password"/>
    </bean>

    <bean id="no_access.creds" class="org.apache.ignite.plugin.security.SecurityCredentials">
        <property name="login" value="no_access_user"/>
        <property name="password" value="no_access_password"/>
    </bean>
    {% endif %}

    <bean id="ignite.cfg" class="org.apache.ignite.configuration.IgniteConfiguration">
        <property name="peerClassLoadingEnabled" value="true"/>
        <property name="localHost" value="${NODE_IP}"/>
        <property name="clientMode" value="false"/>
        <property name="activeOnStart" value="false"/>
        <property name="consistentId" value="${CONSISTENT_ID}"/>
        {% if not dynamic_cache_enabled %}
        <property name="cacheConfiguration" ref="caches"/>
        {% endif %}

        <property name="communicationSpi">
            <bean class="org.apache.ignite.spi.communication.tcp.TcpCommunicationSpi">
                <property name="sharedMemoryPort" value="-1"/>
            </bean>
        </property>

        <property name="binaryConfiguration">
            <bean class="org.apache.ignite.configuration.BinaryConfiguration">
                <property name="compactFooter" value="false"/>
            </bean>
        </property>

        {% if ssl_enabled %}
        <property name="clientConnectorConfiguration">
            <bean class="org.apache.ignite.configuration.ClientConnectorConfiguration">
                <property name="sslEnabled" value="true"/>
                <property name="sslClientAuth" value="true"/>
                <property name="sslContextFactory">
                    <bean class="org.apache.ignite.ssl.SslContextFactory">
                        <property name="keyStoreFilePath" value="{{ ssl_config_path }}/server.jks"/>
                        <property name="keyStorePassword" value="123456"/>
                        <property name="trustStoreFilePath" value="{{ ssl_config_path }}/trust.jks"/>
                        <property name="trustStorePassword" value="123456"/>
                    </bean>
                </property>
            </bean>
        </property>

        <property name="sslContextFactory">
            <bean class="org.apache.ignite.ssl.SslContextFactory">
                <property name="keyStoreFilePath" value="{{ ssl_config_path }}/server.jks"/>
                <property name="keyStorePassword" value="123456"/>
                <property name="trustStoreFilePath" value="{{ ssl_config_path }}/trust.jks"/>
                <property name="trustStorePassword" value="123456"/>
            </bean>
        </property>

        <!-- Enable SSL for external connect  -->
        <property name="connectorConfiguration">
            <bean class="org.apache.ignite.configuration.ConnectorConfiguration">
                <property name="sslEnabled" value="true"/>
                <property name="sslClientAuth" value="true"/>
            </bean>
        </property>
        {% endif %}

        <property name="dataStorageConfiguration">
            <bean class="org.apache.ignite.configuration.DataStorageConfiguration">
                <!-- Enabling Apache Ignite Persistent Store. -->
                <property name="defaultDataRegionConfiguration">
                    <bean class="org.apache.ignite.configuration.DataRegionConfiguration">
                        <property name="persistenceEnabled" value="true"/>
                    </bean>
                </property>
                <!-- Enable compaction. -->
                {% if compaction_enabled %}
                <property name="walCompactionEnabled" value="true"/>
                {% endif %}
                {% if not sbt_model_enabled %}
                <property name="walSegments" value="5"/>
                <property name="walSegmentSize" value="#{64 * 1024 * 1024}"/>
                <property name="checkpointFrequency" value="10000"/>
                {% else %}
                <property name="walSegments" value="10"/>
                <property name="walSegmentSize" value="#{200 * 1024 * 1024}"/>
                <property name="checkpointFrequency" value="30000"/>
                {% endif %}
                {% if custom_checkpointFrequency %}
                <property name="checkpointFrequency" value="1000"/>
                {% endif %}
                <property name="dataRegionConfigurations">
                    <list>
                        <bean class="org.apache.ignite.configuration.DataRegionConfiguration">
                            <property name="name" value="mem-Region1"/>
                            <property name="pageEvictionMode" value="RANDOM_LRU"/>
                            <property name="initialSize" value="#{100L * 1024 * 1024}"/>
                            <property name="maxSize" value="#{200L * 1024 * 1024}"/>
                            <property name="PersistenceEnabled" value="false"/>
                        </bean>
                        <bean class="org.apache.ignite.configuration.DataRegionConfiguration">
                            <property name="name" value="mem-dataRegion2"/>
                            <property name="pageEvictionMode" value="RANDOM_LRU"/>
                            <property name="initialSize" value="#{50L * 1024 * 1024}"/>
                            <property name="maxSize" value="#{100L * 1024 * 1024}"/>
                            <property name="PersistenceEnabled" value="false"/>
                        </bean>
                    </list>
                </property>
            </bean>
        </property>

        {% if (snapshots_enabled or authentication_enabled) and not community_edition_enabled %}
        <property name="pluginConfigurations">
            <list>
                <bean class="org.gridgain.grid.configuration.GridGainConfiguration">
                    {% if snapshots_enabled %}
                    <property name="snapshotConfiguration">
                        <bean class="org.gridgain.grid.configuration.SnapshotConfiguration">
                            {% if change_snapshot_path %}
                            <property name="snapshotsPath" value="{{change_snapshot_path_value}}"/>
                            {% endif %}
                            {% if pitr_enabled %}
                            <property name="pointInTimeRecoveryEnabled" value="true"/>
                            {% endif %}
                        </bean>
                    </property>
                    {% endif %}
                    {% if authentication_enabled %}
                    <property name="authenticator">
                        <bean class="org.gridgain.grid.security.passcode.PasscodeAuthenticator">
                            <property name="aclProvider">
                                <bean class="org.gridgain.grid.security.passcode.AuthenticationAclBasicProvider">
                                    <constructor-arg>
                                        <map>
                                            <entry key-ref="server.creds"
                                                value="
                                                    {
                                                        defaultAllow:true
                                                    }
                                            "/>
                                            <entry key-ref="full_access.creds"
                                                value="
                                                    {
                                                        {
                                                            cache:'*',
                                                            permissions:[CACHE_READ, CACHE_PUT, CACHE_REMOVE]
                                                        },
                                                        {
                                                            task:'*',
                                                            permissions:[TASK_EXECUTE]
                                                        },
                                                        {
                                                            system:[ADMIN_CACHE, CACHE_CREATE]
                                                        },
                                                        defaultAllow:false
                                                    }
                                            "/>
                                            <entry key-ref="read_only.creds"
                                                value="
                                                    {
                                                        {
                                                            cache:'*',
                                                            permissions:[CACHE_READ]
                                                        },
                                                        {
                                                            task:'*',
                                                            permissions:[TASK_EXECUTE]
                                                        },
                                                        defaultAllow:false
                                                    }
                                            "/>
                                            <entry key-ref="no_access.creds"
                                                value="
                                                    {
                                                        {
                                                            cache:'*',
                                                            permissions:[]
                                                        },
                                                        {
                                                            task:'*',
                                                            permissions:[]
                                                        },
                                                        defaultAllow:false
                                                    }
                                            "/>
                                        </map>
                                    </constructor-arg>
                                </bean>
                            </property>
                        </bean>
                    </property>
                    <property name="securityCredentialsProvider">
                        <bean class="org.apache.ignite.plugin.security.SecurityCredentialsBasicProvider">
                            <constructor-arg ref="server.creds"/>
                        </bean>
                    </property>
                    {% endif %}
                </bean>
            </list>
        </property>
        {% endif %}


        <!-- Explicitly configure TCP discovery SPI to provide list of initial nodes. -->
        {% if zookeeper_enabled %}
        <property name="discoverySpi">
            <bean class="org.apache.ignite.spi.discovery.zk.ZookeeperDiscoverySpi">
                <property name="zkConnectionString" value="{{zoo_connection}}"/>
                <property name="sessionTimeout" value="30000"/>
            </bean>
        </property>
        {% else %}
        <property name="discoverySpi">
            <bean class="org.apache.ignite.spi.discovery.tcp.TcpDiscoverySpi">
                <property name="ackTimeout" value="60000"/>
                <property name="maxAckTimeout" value="300000"/>
                <property name="reconnectCount" value="2"/>
                <property name="socketTimeout" value="30000"/>
                <property name="ipFinder">
                    <bean class="org.apache.ignite.spi.discovery.tcp.ipfinder.vm.TcpDiscoveryVmIpFinder">
                        <property name="addresses">
                            <list>
                                {% for address in addresses %}
                                <value>{{ address }}:47500..47510</value>
                                {% endfor %}
                            </list>
                        </property>
                    </bean>
                </property>
            </bean>
        </property>
        {% endif %}
    </bean>
</beans>
